.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	height: 100vh;
	width: 100vw;
	background: #ffc5ab;
}

.f-ubuntuc {
	font-family: 'Ubuntu', sans-serif;
}

.udarkblue {
	color: #004D65;
	/*color:#2e334f;*/
}

.f-xlg {
	font-size: xx-large;
}

.f-lg {
	font-size: x-large;
}

.t-center {
	text-align: center;
}

.mt-10 {
	margin-top: 20% !important;
}

a, a:hover {
  border:none !important;
  outline:none !important;
  text-decoration:none !important;
  color:inherit !important;
}

a:hover {
	text-decoration: none !important;
	color:inherit !important;
}

.f-b {
	font-weight: bold;
}

.menuback {
	/*background: #cbf0ff*/
	background: #ffc5ab
}

.uyellow {
	color: #be38f3;
}

.ml15 {
  font-weight: 800;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color:#ff6a00;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

.svgw-5 {
	/*width: 20vw;*/
	width: 20vw;
	min-width: 300px;
}